RewriteEngine On


RewriteRule ^Auth/Profile$ public/client/Profile.php [L]
RewriteRule ^Auth/Register$ public/client/Register.php [L]
RewriteRule ^Auth/Login$ public/client/Login.php [L]
RewriteRule ^Auth/Logout$ public/client/Logout.php [L]
RewriteRule ^Auth/ForgotPassword$ public/client/ForgotPassword.php [L]
RewriteRule ^Auth/ChangePassword$ public/client/ChangePassword.php [L]
RewriteRule ^Auth/IsChangePassword$ public/client/IsChangePassword.php [L]
RewriteRule ^Recharge$ public/client/Recharge.php [L]
RewriteRule ^Recharge-Bank$ public/client/Recharge-Bank.php [L]
RewriteRule ^Recharge-Momo$ public/client/Recharge-Momo.php [L]
RewriteRule ^Recharge-ZaloPay$ public/client/Recharge-ZaloPay.php [L]
RewriteRule ^Recharge-Card$ public/client/Recharge-Card.php [L]
RewriteRule ^Recharge-Thesieure$ public/client/Recharge-Thesieure.php [L]
RewriteRule ^History$ public/client/History.php [L]
RewriteRule ^Order/([A-Za-z0-9-]+) public/client/XemDonHang.php?code=$1 [L]
RewriteRule ^Dashbroad$ public/client/Dashbroad.php [L]
RewriteRule ^Policy$ public/client/Policy.php [L]
RewriteRule ^Rules$ public/client/Rules.php [L]
RewriteRule ^Contact$ public/client/Contact.php [L]
RewriteRule ^Tool/Check-live-uid$ public/client/Check-Live-Uid.php [L]
RewriteRule ^Tool/Get-2fa$ public/client/Get-2fa.php [L]
RewriteRule ^Tool/Get-Uid$ public/client/Get-Uid.php [L]
RewriteRule ^Top/Nap-tien$ public/client/Top-NapTien.php [L]
RewriteRule ^Category/([A-Za-z0-9-]+) public/client/Category.php?title=$1 [L]
RewriteRule ^Referral$ public/client/Referral.php [L]
RewriteRule ^tool/check-live-fb$ public/client/check-live-fb.php [L]
RewriteRule ^tool/check-live-gmail$ public/client/check-live-gmail.php [L]
RewriteRule ^tool/check-live-yahoo$ public/client/check-live-yahoo.php [L]
RewriteRule ^tool/check-live-hotmail$ public/client/check-live-hotmail.php [L]

RewriteRule ^Admin$ public/admin/Home.php [L]
RewriteRule ^admin/$ public/admin/Home.php [L]
RewriteRule ^Admin/$ public/admin/Home.php [L]
RewriteRule ^Admin/Home$ public/admin/Home.php [L]
RewriteRule ^Admin/Users$ public/admin/Users.php [L]
RewriteRule ^Admin/User/Edit/([A-Za-z0-9-]+) public/admin/EditUser.php?id=$1 [L]
RewriteRule ^Admin/Bank$ public/admin/Bank.php [L]
RewriteRule ^Admin/Setting$ public/admin/Setting.php [L]
RewriteRule ^Admin/Danhmuc/Taikhoan$ public/admin/DanhMucTaiKhoan.php [L]
RewriteRule ^Admin/Danhmuc/Taikhoan/Edit/([A-Za-z0-9-]+) public/admin/EditDanhMucTaiKhoan.php?id=$1 [L]
RewriteRule ^Admin/Danhmuc/Add$ public/admin/AddDanhMucTaiKhoan.php [L]
RewriteRule ^Admin/Orders public/admin/Orders.php [L]
RewriteRule ^Admin/ThemClone/([A-Za-z0-9-]+) public/admin/ThemClone.php?id=$1 [L]
RewriteRule ^Admin/XoaClone/([A-Za-z0-9-]+) public/admin/XoaClone.php?id=$1 [L]
RewriteRule ^Admin/XemClone/([A-Za-z0-9-]+) public/admin/XemClone.php?id=$1 [L]
RewriteRule ^Admin/Upload/Backup$ public/admin/UploadBackup.php [L]
RewriteRule ^Admin/Nap-The$ public/admin/NapThe.php [L]
RewriteRule ^Admin/Storage$ public/admin/Storage.php [L]
RewriteRule ^Admin/Thesieure$ public/admin/Thesieure.php [L]
RewriteRule ^Admin/Category$ public/admin/Category.php [L]
RewriteRule ^Admin/Language$ public/admin/Language.php [L]
RewriteRule ^Admin/Token$ public/admin/Token.php [L]
RewriteRule ^Admin/Promotion$ public/admin/Promotion.php [L]